@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{   
    background-color: white;
}

main{
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
}

h1{
    font-size: 2.5em;
    text-align: center;
    color: black;
    background-color: rgb(223, 111, 111);
    padding: 10px;
    margin: auto;
}

h2{
    font-size: 1.8em;
    padding: 10px;
    color: black;
    text-align: center;
}

p{
    font-size: 1.6em;
    margin: auto;
    padding: 2px;
    color: black;
    text-align: justify;
    text-indent: 20px;
}

#ruby > h2{
    font-size: 1.6em;
    padding: 100px;
    color: black;
    text-align: center;
}
