@charset "UTF-8";

body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
}

header{
    background-color:rgb(199, 199, 133);
    text-align: center;
}

header > p{
    font-size: 20px;
}

nav{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}

a:hover{
    background-color: gray;
    color: purple;
}

nav > a{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

#habilidades{
    padding: 12px;
    margin: auto;
    background-color: #939393;
    color: white;
    border-radius: 6px;
}


#habilidades > h1{
    color: #802626;
}

#habilidades > p{
    font-size: 1.2em;
    letter-spacing: 1.3px;
    margin: auto;
    padding: 2px;
    text-align: justify;
}

a{
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
}


p{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
    margin: auto;
}
